body{
    
    margin: 0;
    color: #393939;
    font-family: sofia-pro,Arial,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: .005em;
    overflow-x: hidden;
    direction: ltr;
}
header {
  background: #fff;
}
.team-title {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
    color: #393939;
    font-family: "sofia-pro",Sans-serif;
    font-size: 40px;
    font-weight: 800;
    padding: 0;
    margin: 0;
    line-height: 1
}
.team-text{
    color: #6a6a6a;
    font-family: "sofia-pro",Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: center;
    width:100%;
    margin: 0 0 30px;
    word-break: normal;
    padding: 0 100px 0 100px;
    box-sizing: border-box;
    
   
}
.team .team-image img {
    vertical-align: middle;
    display: inline-block;
    height: auto;
    max-width: 100%;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    text-align: center;
    align-items: center;
}
h2 {
    background-color: #fff;
    text-align:center;
}
.sec13{
    max-width: 1140px;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    margin-top: 0;
    margin-bottom: -20px;
    padding: 0 0 100px 0;;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    background-color: #fff;
    width: 100%;
    background-color: #fff
}
.section13 {
    width: 100%;
    display: flex;
    background-color: #fff;
}
.sec13 section13{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    max-width: 1140px;
    background-color: #fff;
}
.section12{
    margin: 80px 0 0 0;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    display: flex;
}
.suju{
    padding: 0 12px 0 12px;
    align-content: center;
    align-items: center;
    width: 100%;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
}
.art{
    width: 20%;
    padding: 0 12px 0 12px;
    align-content: center;
    align-items: center;
    width: 100%;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
}
.groupon{
    padding: 0 12px 0 12px;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    vertical-align: middle;
    display: inline-block
}
.last{
    padding: 0 12px 0 12px;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    vertical-align: middle;
    display: inline-block
}
.four{
    padding: 0 12px 0 12px;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    vertical-align: middle;
    display: inline-block
}
.section13 img{
    height: auto;
    max-width: 100%;
    border: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
}
footer{
    display: block;
    position: relative;
    z-index: 3;
    top: -10px;
    margin-bottom: -10px;
    padding: 360px 0 70px;
    background-color: #f6f7f9;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-image : url(https://mllj2j8xvfl0.i.optimole.com/d0cOXWA.d0eL~37102/w:auto/h:auto/q:90/https://s30246.pcdn.co/wp-content/themes/themeisle/assets/img/footer-bg2.jpg);
    box-sizing: border-box;
}

.contenu-footer{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    display : flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    box-sizing: border-box;
}


.contacts{
      margin-top: 30px;     
      width: 45px;
      height: 45px;
      padding: 12px;
      border-radius: 100%; 
      max-width: 100%;
	  height: auto;
	  max-width: 100%;
	  object-fit: cover;
}
footer .contenu-footer .box-blanc{
    flex: 0 0 30%;
    max-width: 30%;
    padding: 40px 40px 30px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 2px 80px 0 rgba(0,0,0,.1);
    margin-right: 3%;
    box-sizing: border-box;
    display: block;
}
.bloc-footer-container-title{
    margin-bottom: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    box-sizing: border-box;
    margin: 0 0 30px;
    word-break: normal;
}
.bloc-footer-container-text{
        box-sizing: border-box;
}
.bloc-footer-container-text ul {
    padding-left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.bloc-footer-container-text ul li {
    margin-bottom: 5px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}
.page-end-left{
    flex: 0 0 50%;
    max-width: 50%;
    text-align: left;
    box-sizing: border-box;
}
.page-end-right{
    flex: 0 0 50%;
    max-width: 50%;
    text-align: right;
    box-sizing: border-box;
    color: #32466b;
}
footer .contenu-footer .bloc-footer-container{
    position: relative;
    top: 120px;
    flex: 0 0 13%;
    max-width: 13%;
    box-sizing: border-box;
}
h3{
    margin-bottom: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 30px;
    word-break: normal;
}
ul{
    padding-left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    margin-bottom: 5px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: list-item;
    color: #fff;    
}
.copyright .page-end-right ul li {
    padding:0 6px 0 3px;
}
.copyright {
    padding: 10px 0;
    color: #32466b;
    background: #fff;
    font-size: 14px;
    position: relative;
    z-index: 99;
}
.page-end{
    max-width: 1200px;
    margin: auto;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.copyright .page-end li {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #32466b;
}
.copyright .page-end .page-end-right ul li:after {
    content : " | ";
}