body {
  margin: 0;
  background: solid white;
  font-family: 'sofia-pro', Arial, sans-serif;
  font-weight: 300;
  background-color: #006ba1;
}

header {
  background: #fff;
}

/*Cette partie est nécessaire car quand les éléments
à l'intérieur ont tous une valeur de "float: right ou left,etc.",
c'est comme si header était vide */
header ::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 30px;
  padding-top: 35px;
}

nav ul li a {
  color: #32466b;
  text-decoration: none;
  font-weight: 700;
}


/*(à faire)Le hover doit rotate les boutons du nav*/
nav ul li a:hover {
  color: #ff7f66;
  text-decoration: none;
  font-weight: 700;
}

/*l'image de la flèche pointe vers le haut,
donc il faut un rotate 180deg par défaut
*/
.arrow-up{
  width: 10px;
  height: 10px;
  transform: rotate(calc(180deg))
}

.header-container {
  width: 80%;
  margin: 0 auto;
}

.logo {
  float: left;
  padding: 10px 0;
}
